fastapi
uvicorn[standard]
python-multipart
sqlalchemy
psycopg2-binary
alembic
python-jose[cryptography]
passlib[bcrypt]
bcrypt
torch
scikit-learn
numpy
pandas
shap
transformers
pydantic
pydantic-settings
python-dotenv
loguru
starlette
